# Ignore .env files
.env
.env.*

# Ignore any "env" directories (e.g., /env/, /some/path/env/)
env/
**/env/

# Ignore logs directories
logs/
**/logs/

# Ignore markdown folders
markdown/
**/markdown/
documents/markdown/

.langraph_api

# Ignore Python cache
__pycache__/
**/__pycache__/


node_modules


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
